{% extends 'base.html' %} 
{% block title %} Datos Personales - The FlixHouse {%endblock title %} 
{% block content %} 
{% load static %}
<div class="container my-5 py-5">
  <h1 class="mb-4">Bienvenido {{ user.username }}</h1>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Nombre de usuario:</label>
            <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">Nombre:</label>
            <input type="text" class="form-control" id="firstName" value="{{ user.first_name }}" readonly>
          </div>
        </div>
      </div>
      <div class="row my-3 ">
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">Apellido:</label>
            <input type="text" class="form-control" id="lastName" value="{{ user.last_name }}" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6">
          <a href="#" class="btn btn-primary">Cambiar contraseña</a>
        </div>
        <div class="col-md-6 text-end">
          <a href="#" class="btn btn-secondary">Editar datos</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
