{% extends 'base.html' %} 
{% block title %}Inicio{% endblock %} 
{% block content %}
<!-- segundo navbar -->
<nav class="navbar navbar-expand-lg bg-success bg-opacity-10">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarOfertas">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown bg-success rounded mx-2">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-table-cells-large"></i> Todas las categorías
          </a>
          <ul class="dropdown-menu"></ul>
        </li>
        <li class="nav-item dropdown bg-warning bg-opacity-25 rounded">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-percent"></i> Ofertas
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item mb-1" href="ofertas.html">
                <i class="fa-solid fa-lightbulb me-1 text-warning"></i>Mas
                vendido</a
              >
            </li>
            <li>
              <a class="dropdown-item mb-1" href="#">
                <i class="fa-solid fa-dog me-1 text-danger-emphasis"></i
                >Perro</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="fa-solid fa-cat me-1 text-danger-emphasis"></i
                >Gatos</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link" href="#">Favoritos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Revista</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container p-4">
  <h2>Bienvenido a la Página de Inicio</h2>
  <div class="row">
    {% for product in products %}
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-5">
      <div class="card h-100 border border-0 p-1">
        <a href="{% url 'prodDetail' product.id %}">
          <img src="{{ product.image }}" class="card-img-top" alt="..." />
        </a>
        <div class="card-body">
          <h5 class="card-title fw-bold">${{ product.price }}</h5>
          <div class="fw-light">
            <span class="badge text-bg-secondary bg-opacity-25">1 un</span>
          </div>
          <div class="fw-light">{{ product.brand }}</div>
          <p class="card-text text-truncate-multiline">{{ product.name }}</p>
          <div class="d-grid col-12">
            <button
              class="btn btn-success text-center fw-bold"
              onclick="addToCart('{{ product.id }}', '{{ product.name }}', '{{ product.price }}', '{{ product.image }}');">
              Agregar
            </button>
          </div>
        </div>
        <div class="justify-content-start">
          <i class="fa-solid fa-star text-warning"></i> {{ product.rating }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
